@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /*colors*/
  --black: #000000;
  --white: #ffffff;
  --dark-blue: #0f172a;
  --navy-blue: #1a73e8;

  /*fonts*/
  --font-body: "Inter", sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--dark-blue);
}

*::-webkit-scrollbar {
  width: 0.2rem;
}

*::-webkit-scrollbar-track {
  background: #cbd5e1;
  border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
  background: #a0aec0;
  border-radius: 20px;
  border: 3px solid #94a3b8;
}

.grad {
  padding: 1rem;
  border: double 2px transparent;
  border-radius: 8px;
  background-image: linear-gradient(#1e293b, #1e293b),
    linear-gradient(
      to right,
      rgba(146, 29, 251, 0.5),
      rgba(243, 52, 242, 1),
      rgba(255, 0, 130, 0.5)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.grad-button {
  padding: 1rem;
  border: double 2px transparent;
  border-radius: 8px;
  background-image: linear-gradient(#0f172a, #0f172a),
    linear-gradient(
      to right,
      rgba(146, 29, 251, 0.5),
      rgba(243, 52, 242, 1),
      rgba(255, 0, 130, 0.5)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
